<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <title>My App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
</head>
<body ng-controller="mycontroller">

<table class="table">
    <thead>
        <tr>
            <th>name</th>
            <th>age</th>
            <th>gender</th>
            <th>sal</th>
            <th>DOB</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="employee in employees">
            <td>{{employee.name | uppercase}}</td>
            <td>{{employee.age}}</td>
            <td>{{employee.gender | lowercase}}</td>
            <td>{{employee.sal | number}}</td>
            <td>{{empolyee.dob}} </td>
        </tr>
    </tbody>
</table>


    <script src="js/app.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>